<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jlhc.oa.dao.FuncRightRelationMapper" >
  <resultMap id="BaseResultMap" type="com.jlhc.oa.dto.function.FuncRightRelation" >
    <id column="func_right_id" property="funcRightId" jdbcType="INTEGER" />
    <result column="func_id" property="funcId" jdbcType="INTEGER" />
    <result column="right_id" property="rightId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    func_right_id, func_id, right_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jlhc.oa.dto.function.example.FuncRightRelationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jl_func_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jl_func_right
    where func_right_id = #{funcRightId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jl_func_right
    where func_right_id = #{funcRightId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jlhc.oa.dto.function.example.FuncRightRelationExample" >
    delete from jl_func_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jlhc.oa.dto.function.FuncRightRelation" useGeneratedKeys="true" keyProperty="id" >
    insert into jl_func_right (func_right_id, func_id, right_id
      )
    values (#{funcRightId,jdbcType=INTEGER}, #{funcId,jdbcType=INTEGER}, #{rightId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jlhc.oa.dto.function.FuncRightRelation" useGeneratedKeys="true" keyProperty="id" >
    insert into jl_func_right
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="funcRightId != null" >
        func_right_id,
      </if>
      <if test="funcId != null" >
        func_id,
      </if>
      <if test="rightId != null" >
        right_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="funcRightId != null" >
        #{funcRightId,jdbcType=INTEGER},
      </if>
      <if test="funcId != null" >
        #{funcId,jdbcType=INTEGER},
      </if>
      <if test="rightId != null" >
        #{rightId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jlhc.oa.dto.function.example.FuncRightRelationExample" resultType="java.lang.Integer" >
    select count(*) from jl_func_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update jl_func_right
    <set >
      <if test="record.funcRightId != null" >
        func_right_id = #{record.funcRightId,jdbcType=INTEGER},
      </if>
      <if test="record.funcId != null" >
        func_id = #{record.funcId,jdbcType=INTEGER},
      </if>
      <if test="record.rightId != null" >
        right_id = #{record.rightId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update jl_func_right
    set func_right_id = #{record.funcRightId,jdbcType=INTEGER},
      func_id = #{record.funcId,jdbcType=INTEGER},
      right_id = #{record.rightId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jlhc.oa.dto.function.FuncRightRelation" >
    update jl_func_right
    <set >
      <if test="funcId != null" >
        func_id = #{funcId,jdbcType=INTEGER},
      </if>
      <if test="rightId != null" >
        right_id = #{rightId,jdbcType=INTEGER},
      </if>
    </set>
    where func_right_id = #{funcRightId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jlhc.oa.dto.function.FuncRightRelation" >
    update jl_func_right
    set func_id = #{funcId,jdbcType=INTEGER},
      right_id = #{rightId,jdbcType=INTEGER}
    where func_right_id = #{funcRightId,jdbcType=INTEGER}
  </update>
    <!--根据功能找权限-->
    <select id="selectRightIdsByFuncId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT
        fr.right_id
        FROM
        jl_func_right fr
        WHERE
        fr.func_id= #{funcId,jdbcType=INTEGER};
    </select>
</mapper>